---
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');
const projectsPosts = await getCollection('projects');
projectsPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()); // Sort projects by date
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A personal homepage in the style of brutalism and nature." />
		<title>Kirill Igumenshchev - Homepage</title>
		<style>
			body {
				font-family: monospace;
				background-color: #f0f0f0; /* Light gray background */
				color: #222; /* Dark text for contrast */
				margin: 2rem;
			}
			h1, h2, h3 {
				font-weight: bold;
				line-height: 1.1;
				margin-bottom: 0.5rem;
			}
			section {
				margin-bottom: 2rem;
				padding: 1rem;
				border: 2px solid #222; /* Basic border for sections */
			}
			a {
				color: #007bff; /* Example link color */
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Kirill Igumenshchev</h1>
		</header>
		<section id="about">
			<h2>About Me</h2>
			<p>
				Hi, I'm Kirill Igumenshchev.
				<br><br>
				<a href="https://x.com/kirill_igum">X (Twitter)</a> | <a href="https://github.com/kirilligum/">GitHub</a> | <a href="https://www.linkedin.com/in/kirilligum/">LinkedIn</a>
			</p>
		</section>
		<section id="blog">
			<h2>Blog</h2>
			<ul>
				{blogPosts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`}>{post.data.title}</a>
					</li>
				))}
			</ul>
		</section>
		<section id="projects">
			<h2>Projects</h2>
			<p>
				Kirill's portfolio focuses on cutting-edge AI, blockchain, web3, and data science projects. Specializing in decentralized networks, on-chain reinforcement learning (RLHF), smart contracts, and advanced data analysis tools, he leverages technologies like TypeScript, Solidity, Python, and C++. Key projects include decentralized AI training DAOs, zero-knowledge identity systems, on-chain peer review platforms, and machine learning data generation. His work emphasizes innovative solutions at the intersection of blockchain, artificial intelligence, and data science, with a commitment to creating transparent, secure, and scalable technological ecosystems.
			</p>
			<p><a href="/projects">View all projects</a></p>
		</section>
		<section id="resume"><h2>Resume</h2><p><a href="#">Link to your resume</a></p></section>
	</body>
</html>
